<div class="container form">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <div class="form__section">
        <h2 class="main__title">Change your password</h2>

        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
          <%= devise_error_messages! %>
          <%= f.hidden_field :reset_password_token %>

          <div class="field">
            <%= f.password_field :password, autofocus: true, autocomplete: "off", placeholder: 'New Password', class: 'form__field' %>
            <% if @minimum_password_length %>
              <div class="form__info"><%= @minimum_password_length %> characters minimum)</div>
            <% end %>
          </div>

          <div class="field">
            <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: 'Password Confirmation', class: 'form__field' %>
          </div>

          <div class="actions">
            <%= f.submit "Change my password", class: 'form__button' %>
          </div>
        <% end %>

        <div class="shared__links">
          <%= render "tourists/shared/links" %>
        </div>

      </div>
    </div>
  </div>
</div>