<div class="home">
	<div class="container">
		<h2 class="home-copy">
			Reserva <span>actividades</span> en tu <span>idioma</span> y disfruta tu viaje como si estuvieras en tu ciudad
		</h2>

		<%= form_tag activities_path, method: 'get', authenticity_token: false, id:'search-city' do %>

			<div class="row home__cities" data-toggle="modal" data-target="#language-modal">
				<% @cities.each do |city| %>
					<div class="home__city col-sm-6 col-md-2">
						<%= radio_button_tag "city", city.id, false %>
						<div class="home__city__info">
							<i class="fa fa-check-circle"></i>
							<span><%= city.description %></span>
						</div>
						<%= image_tag city.img_url %>
						<h1><%= city.name %></h1>
						</div>
				<% end %>
			</div>
			<div class="modal fade" id="language-modal">
				<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
					  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					</div>
					<div class="modal-body">
						<div class="home__languages">
							<h2 class="text-center">Select your language </h2>
							<div class="home-languages__wrapper">
								<div class="bg-danger">Debes Escoger al menos un idioma.</div>
								<% @languages.each do |language| %>
									<div class="home__language">
										<%= radio_button_tag "language", language.id, false %>
										<label for="<%= language.name %>"><%= language.name %></label>
										<%= image_tag language.img_url %>
										<div class="home__language__info">
											<i class="fa fa-check-circle"></i>
										</div>
									</div>
								<% end %>
							</div>
				 			<%= submit_tag "Search", :name => nil, class:"action__join" %>
						</div>
					</div>
				</div>
				</div>
			</div>
		<% end %>
	</div>
	<div class="how-it-works">
		<div class="container">
			<h2>Como funciona </h2>
			<div class="row">
				<div class="hiw__item step1 col-sm-12 col-md-4">
					<%= image_tag 'city.svg' %>
					<h4>Seleccionas la ciudad donde vas a tomar tu actividad</h4>
				</div>
				<div class="hiw__item step2 col-sm-12 col-md-4">
					<%= image_tag 'lan.svg' %>
					<h4>Seleccionas tu idioma</h4>
				</div>
				<div class="hiw__item step3 col-sm-12 col-md-4">
					<%= image_tag 're.svg' %>
					<h4>Reservas tu actividad</h4>
				</div>
			</div>
		</div>
	</div>
	<div class="home__activities">
		<div class="container">
			<h2>Actividades Recientes:</h2>
			<div class="row">
				<% @activities.each do |activity| %>
					<a href="activities/<%= activity.id %>" class="home__activity col-sm-12 col-md-3">
						<div class="home__activity__info">
							<%= image_tag activity.img_url %>
							<span class="price">
								<i class="fa fa-money" aria-hidden="true"></i>
								<%= activity.price %>
							</span>
							<span class="name">
								<i class="fa fa-hand-peace-o" aria-hidden="true"></i>
								<%= activity.name %>
							</span>
							<div class="description"><%= truncate_html(activity.description, length: 40) %>
							</div>
						</div>
					</a>
				<% end %>
			</div>
		</div>
	</div>
</div>