<header class="header">
	<a href="/" class="header__logo">
		<%= image_tag 'logui_icon.svg' %>
		<span>logui</span>
	</a>
	<nav class="header__nav">
		<ul>
      <% if current_guide %>
        <li class="menu_user">
          <a href="#" class="action__join">
            Hola, <%= current_guide.name %>
          </a>
          <ul class="dropdown-menu_user">
              <li><%= link_to "Edit Account", edit_guide_registration_path %></li>
              <li><%= link_to "Sign out", destroy_guide_session_path, method: :delete %></li>
          </ul>
        </li>
      <% else %>
        <li><%= link_to "Log In", new_guide_session_path %></li>
				<li><%= link_to "Become a Guide", new_guide_registration_path, class: 'action__join' %></li>
      <% end %>
		</ul>
	</nav>
</header>